@font-face {
  font-family: BobaMilky;
  src: url(/assets/fonts/BobaMilky/BobaMilky.ttf);
}

* {
  z-index:11;
}

span, li, p, h1, h2, h3, h4, h5, button, label, input {
  font-family: BobaMilky;
}

#section-home {
  height:100vh;
  background-size:cover;
  background-image:url(../../assets/images/backgrounds/wisteria.png)
}

#black-opacity {
  background-color:black;
  opacity:0.6;
  position:absolute;
  height:100%;
  width:100%;
  z-index:10!important;
}

#title-home {
  position:relative;
  display:flex;
  justify-content:center;
  padding-top:3%;
  margin-bottom:3%;
}

#title-home > h1 {
  background-image: url(../../assets/images/backgrounds/tanjirobanner.jpg);
  width:50vw;
  height:10vh;
  background-size:cover;
  color:white;
  border-radius:30px;
  display:flex;
  align-items:center;
  justify-content: center;
  text-shadow: 0 0 2px #000;
  box-shadow: 5px 5px 5px black;
}

.parent-card {
  display: flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
}

.for-card {
  margin-left:5%;
  margin-right:5%;
  width:15vw;
}

.child-card {
  flex: 1 0 21%;
  width:100%;
  height:100%;
}

.card-title {
  font-size: 1.2vw;
}

.card-text {
  font-size: 1.1vw;
}

.card-body > a {
  width:100%;
}

.card-body > a > button {
  font-size:1.2vw;
}

.child-card {
  flex: 1 0 21%;
}

@media screen and (max-width: 990px) {
  .for-card {
    margin-left:5%;
    margin-right:5%;
    width:40vw;
  }
  .child-card {
    flex: 1 0 33.333%;
  }
  .card-title {
    font-size: 2.5vw;
  }
  
  .card-text {
    font-size: 2vw;
  }
}