<section id="introSection1">
  <a href="/home" id="introDemonSlayerLogo">
    <img src="/assets/images/logos/UmaiShop_Logo.png">
  </a>
</section>
<hr class="introDemonSlayerSeparator">
<section id="introSection2">
  <span>Bienvenue chez UmaiShop</span>
  <p>UmaiShop a vu le jour le 12/04/2023, un site E-Shop pour le projet ETNA Code 2 Work.</p>
  <p>Afin de satisfaire l'exigence de Kevin, notre équipe a créé un site permettant de réunir tous les fans de Demon Slayer qui souhaite vendre ou acheter des produits sur le thème de ce dernier.</p>
  <br>
  <br>
</section>
<hr class="introDemonSlayerSeparator">
<section id="introSection3">
  <video id="introDemonSlayerOpeningVideo" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
    <source src="{{URL_FRONT}}/assets/mp4/DemonSlayerOpening4.mp4" type="video/mp4">
  </video>
</section>